Repository neanes/neanes, pull requests merged in 2024-11, with the labels that each got.

#1112 Fix `@typescript-eslint/no-unnecessary-type-assertion` violations
  electron/main/index.ts
  src/components/Editor.vue
  src/components/Neume.vue
  src/components/PageSetupDialog.vue
  src/models/save/v1/Score.ts
  src/services/FontService.ts
  src/services/LayoutService.ts
  src/services/SaveService.ts
  src/services/audio/AudioService.ts
  src/services/history/CommandService.ts
Labels: skip-changelog

#1123 Fix export to png cut-off bug
  src/components/Editor.vue
Labels: Type: Bug, Component: Other

#1126 Force paragraph breaks after text boxes and mode keys
  src/services/LayoutService.ts
Labels: Type: Feature, Component: Layout

#1127 Fix center break before text box and mode key
  src/services/LayoutService.ts
Labels: Type: Bug, Component: Layout

#1137 Expand range of ison audio playback
  src/services/audio/AnalysisService.ts
  src/services/audio/PlaybackService.ts
  src/services/integration/MusicXmlExporter.ts
Labels: Type: Bug, Component: Audio
