Repository neanes/neanes, pull requests merged in 2025-05, with the labels that each got.

#1416 Update transitive dependencies
  package-lock.json
Labels: skip-changelog

#1420 Add horizontal rule for headers and footers
  src/components/Editor.vue
  src/components/PageSetupDialog.vue
  src/i18n/en/dialog.json
  src/models/PageSetup.ts
  src/models/save/v1/PageSetup.ts
  src/services/LayoutService.ts
  src/services/SaveService.ts
Labels: Type: Feature, Component: Layout

#1441 Add option to vertically align ison indicators
  src/components/NeumeBoxSyllable.vue
  src/components/PageSetupDialog.vue
  src/i18n/en/dialog.json
  src/models/Element.ts
  src/models/PageSetup.ts
  src/models/save/v1/PageSetup.ts
  src/services/LayoutService.test.ts
  src/services/LayoutService.ts
  src/services/SaveService.ts
Labels: Type: Feature, Component: Layout

#1445 Support ison align in Latex and HTML export
  src/components/NeumeBoxSyllable.vue
  src/models/Element.ts
  src/services/LayoutService.test.ts
  src/services/LayoutService.ts
  src/services/integration/ByzHtmlExporter.ts
  src/services/integration/LatexExporter.ts
Labels: Type: Feature, Component: Neumes

#1446 Update the styling of the page setup dialog
  docs/guide/index.md
  src/components/ColorPicker.vue
  src/components/PageSetupDialog.vue
  src/i18n/en/dialog.json
  src/services/LayoutService.ts
Labels: Type: Feature, Component: Layout

#1452 Fix paste bug
  electron/main/index.ts
  src/components/Editor.vue
  src/ipc/ipcChannels.ts
  src/services/ipc/BrowserIpcService.ts
  src/services/ipc/IIpcService.ts
  src/services/ipc/IpcService.ts
Labels: Type: Bug, Component: Electron

#1455 Use filename for PDF title
  src/components/Editor.vue
Labels: Type: Feature, Component: Other

#1456 Fix document title bug when changing tabs
  src/components/Editor.vue
Labels: Type: Bug, Component: UI
