Repository neanes/neanes, pull requests merged in 2025-04, with the labels that each got.

#1368 Fix low martyria
  src/models/Neumes.ts
  src/models/save/v1/Neumes.ts
  src/services/LayoutService.ts
  src/services/NeumeMappingService.ts
Labels: Type: Bug, Component: Neumes

#1377 Add macOS ARM64 build
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  docs/components/Downloads.vue
  package-lock.json
  package.json
Labels: Component: Electron

#1389 Add persistent element IDs to make hyperlinks possible
  electron/main/index.ts
  src/components/Editor.vue
  src/i18n/en/menu.json
  src/ipc/ipcChannels.ts
  src/models/Element.ts
  src/models/Workspace.ts
  src/models/save/v1/Element.ts
  src/services/LayoutService.ts
  src/services/SaveService.ts
Labels: Type: Feature, Component: Other

#1405 Allow melisma to skip inline text box
  src/services/LayoutService.test.ts
  src/services/LayoutService.ts
Labels: Type: Bug, Component: Layout
